# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/

# Android
# Ignore the whole android folder if you are not developing for Android.
# Otherwise, ignore the following:
# android/
android/app/src/main/assets/flutter_assets/
android/.gradle
android/key.properties
android/local.properties

# iOS
# Ignore the whole ios folder if you are not developing for iOS.
# Otherwise, ignore the following:
# ios/
ios/Flutter/App.framework
ios/Flutter/engine.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner/Assets.xcassets/AppIcon.appiconset/
ios/Runner/Assets.xcassets/LaunchImage.launchimage/
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/Generated.xcconfig
macos/Flutter/ephemeral.xcconfig
macos/Pods/

# Generated plugin registrant
lib/generated_plugin_registrant.dart
