# Flutter/Dart related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.build/

# Android build files
android/.gradle/
android/app/build/
android/build/

# iOS build files and Pods
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# IntelliJ/Android Studio
.idea/
*.iml

# VS Code settings
.vscode/

# Miscellaneous
*.log
*.tmp
*.swp

# Local files
calculos_table.iml

# Key properties (contains sensitive signing info)
key.properties